Icon?
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
kohana_release
nbproject
build
composer.lock
composer.phar
vendor/*
*cache/
public/
application/routes.php
application/classes/*
! application/classes/Controller
! application/classes/Model
application/cache/*
application/config/*
