// section/contact/adress

.widget.widget-text
	h4 Наш Адрес
	address г. Владивосток, пр-т 100-лет Владивостока, 57А/3 (район ДОСААФ)
		span
			strong Офис
			| 8 (423) 2-300-857
		span
			strong Цеха
			| 8 (423) 292-02-22
		span
			strong Запчасти
			| 8-908-99-22-444
		span
			strong Email:
			a(href='mailto:sto-briz@mail.ru') sto-briz@mail.ru

// /section/contact/adress