// section/contact/map

#map-container
	a#firmsonmap_biglink(href='http://maps.2gis.ru/#/?history=project/vladivostok/center/131.90693477418,43.157804107903/zoom/16/state/widget/id/3518965489933995/firms/3518965489933995') Перейти к большой карте
	script(charset='utf-8', type='text/javascript', src='http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js')
	script(charset='utf-8', type='text/javascript')
		new DGWidgetLoader({"borderColor":"#a3a3a3","width":"900","height":"600","wid":"5c895ce6982559be0ff717ff132613d8","pos":{"lon":"131.90693477418","lat":"43.157804107903","zoom":"16"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"vladivostok"},"org":[{"id":"3518965489933995"}]});

	noscript(style='color:#c00;font-size:16px;font-weight:bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.

// /section/contact/map